/* main.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white; /* White text */
}
